.boardup {
width: 600px;
min-height: 100px;
}


.boardupLeft{
    width: 100px;
    min-height: 200px;
    background-color: aqua;
    float : left;

}

.boardupCenter{
    width: 500px;
    min-height: 200px;
    background-color: red;
    float: right;
}
.boardupBottom {
    width: 600px;
    height: 60px;
    background-color: black;
    
    display: flex;
}
.boardupBottomLeft{
    width: 450px;
}

.boardupBottomRight{
    width: 150px;
}

.boardLeft{
    width: 100px;
    min-height: 200px;
    background-color: aqua;
    float : left;

}

.boardCenter{
    width: 500px;
    min-height: 200px;
    background-color: rgb(214, 193, 193);
    float: right;
}
.boardBottom {
    width: 600px;
    height: 60px;
    background-color: black;
    display: flex;
}




.textform {
    min-width: 400px;
    min-height: 100px;
    word-break:break-all;
    white-space: nowrap;
}

.InputBoardBtn{
    display: block;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    margin-top: 15px;
    outline : none;
    cursor : pointer;
    background-color: rgb(22, 124, 241);
    min-width: 20%;
    
}


.Inputboard{
    font-size: 1rem;
    border : none;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    outline: none;
    margin-bottom: 0.5rem;
    width: 450px;
}