[contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder)
}

.boardup {
    width: 600px;
    min-height: 130px;
    border-right: 1px rgb(239, 243, 244) solid ; 
    border-top: 0;
    margin-top: 66px;
    display: flex;
}

.boardupLeft{
    width: 99px;
    min-height: 130px;
    float : left;
    border-left : 1px rgb(239, 243, 244) solid ; 
    border-right: 1px rgb(239, 243, 244) solid ; 
    border-bottom:1px rgb(239, 243, 244) solid ; 
}

.boardupCenter{
    width: 499px;
    min-height: 130px;
    float: right;
}
.boardupCenter-top {
    width: 499px;
    min-height: 30px;
    background-color: aquamarine;
}
.Inputboard{
    font-size: 1rem;
    border : none;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    outline: none;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}
.boardupRead{
    width: 499px;
    height: 40px;
    display: flex;
    border-top: 1px rgb(239, 243, 244) solid ; 
    border-bottom:1px rgb(239, 243, 244) solid ; 
}
.boardupRead span{
    color: black;
}
.authbtn{
    background-color: rgb(255,255,255);
    border: 1px;
}
.authbtn span{
    color: rgba(29,161,242,1.00);
    font-size: 15px;
}
.authbtn :hover{
    background-color: rgb(187, 220, 241);
    border-radius: 15px;
    cursor : pointer;
}

.Authform {
    width: 300px;
    height: 200px;
    border: 1px rgb(239, 243, 244) solid ; 
    background-color: antiquewhite;
    z-index: 300;   
}

.readauth{
    width: 330px;
    height: 275px;
    border:1px rgb(239, 243, 244) solid ; 
    
}
.readheader{
    width: 298px;
}
.readheadertitle{
    padding-left: 10px;
    padding-right: 10px;
}
.readheadertitle span {
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.readheadercontent{
    padding-left: 10px;
    padding-right: 10px;
}
.readheadercontent span {
    color: black;
    font-size: 15px;
    font-weight: 200;
}
.readsection {
    width: 330px;
    height: 54px;
}

.readbtn {
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.readpopup {
    display: none;
    position: fixed;
    top: -410px;
    right: 0;
    bottom: 0;
    left: -100px;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.6);
}
.readpopup button {
    outline: none;
    cursor: pointer;
    border: black;
}
.readpopup > section {
    margin:0 auto;
    max-width: 340px;
    border-radius: 0.5rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    overflow: hidden;
    height: 310px;
}
.readsection {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    width: 288px;
    height: 40px;
}
.readpopup > section > header {
    position: relative;
    padding: 12px 32px 12px 12px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.readpopup > section > header button {
    border: 0;
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(17, 17, 17);
    background-color: transparent;
}
.readpopup > section > main {
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    height: 280px;
}
.readpopup.openReadPopup {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;
} 
.readsection-1{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    float: left;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.readsection-1 > svg{
    width: 40px;
    height: 28px;
    padding: 6px;
}
.readsection-1 > svg > g {
    width: auto;
    height: auto;
}
.readsection-2{
    width: 196px;
    height: 40px;
    float :left;
    font-size: 16px;
    line-height: 35px;
}
.readsection-3{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    float: left;
}



.boardupBottom {
    width: 500px;
    min-height: 67px;
    display: flex;

    border-bottom: 1px rgb(239, 243, 244) solid ; 
    border-right:1px rgb(239, 243, 244) solid ; 
    background-color: #ffffff;
}
.boardupbtn-div{
    float: left;
    background-color: #ffffff;
}
.boardupbtn{
    margin-top: 15px;
    background-color: #ffffff;
    border: 0;
}
.boardupBottomLeft svg {
    fill: rgba(29,161,242,1.00);
    transition: .2s;
    width: 22px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 50%;
    margin-top: 4px;
    
}
.boardupBottomLeft{
    width: 365px;
    min-height: 50px;
}

.boardupBottomRight{
    width: 147px;
    min-height: 50px;
    
    border-right:1px rgb(239, 243, 244) solid ; 
}

