.HomeLeft{
    width: 200px;
    height: auto;
    padding: 30px;
    float: left;
    min-width: 30%;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    z-index: 200;
}

.blank
{
    width: 20px;
    height: 250px;
}