.aaa{
    width: 250px;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    
}
.menuNav{
    padding : 0.5rem;
    text-align: center;
}
.Navlink{
    padding : 10px;
    margin-top: 10px;
    border: 1px solid;
}
svg {
    fill: yellowgreen;
    transition: .2s;
    width: 40px;
    height: 20px;
}
a:hover{
    background-color: rgb(44, 72, 230);

}

.BtnLeft {
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    outline : none;
    cursor : pointer;
    background-color: rgb(22, 124, 241);
    min-width: 70%;
    margin-top: 30px;
}

span {
    color: aliceblue;
    font-size: 20px;
}

.UserMenu{

    bottom : 10px;
    border: 1px solid;
    min-height: 40px;
}