.ReadContents{
    width: 600px;
    height: auto;
}

.BtnHome{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    outline : none;
    cursor : pointer;
    float: right;
}


.board{
    width: 600px;
    position: relative;
    border: 1px rgb(239, 243, 244) solid ; 
    border-collapse: collapse;
    word-wrap: break-word;
    
    display: flex;
}

.boardLeft{
    width: 100px;
    min-height: 99.32px;
    float : left;
    border-right: 1px rgb(239, 243, 244) solid ; 
}
.boardCenter{
    width: 500px;
    min-height: 99.32px;
}
.boardCenterBlank{
    width: 500px;
    height: 8px;
    top: 0;
}
.boardCenterHead{
    width: 500px;
    height: 25px;
    position: inherit;
    top: 0;
    
}
.boardCenterHead-Left{
    width: 450px;
    height: 25px;
    float: left;
}

.boardCenterHead-Right{
    width: 50px;
    height: 25px;
    float: left;
    background-color: rgb(255, 255, 255) ;
}
.boardCenterHead-Right-btn{
    width: 50px;
    height: 50px;
    border :0px;
    padding : 0px;
    margin-top: -4px;
    margin-left: 12px;
}

.boardCenterHead-Right-btn svg {
    fill: rgba(29,161,242,1.00);
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.boardCenterHead-Right-btn :hover{
    border-radius: 50%;
    text-align: center;
    background-color: rgb(192, 234, 245);
}
.boardCenterBody{
    width: 500px;
    min-height: 42px;
    border-top: 1px rgb(239, 243, 244) solid ;
    overflow:hidden;
}

.boardCenterBottom {
    width: 500px;
    height: 30px;
    display: flex;
    bottom: 0; 
}
.boardCenterBottom-Bot
{
    width: 500px;
    height: 10px;
    display: flex;
    border-top: 1px rgb(239, 243, 244) solid ; 
}
.optionsvg{
    width: 20px;
    height: 20px;
    margin: 0px;
}
   
.boardbtn svg {
    fill: rgba(29,161,242,1.00);
    transition: .2s;
    width: 27px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 50%;
    margin-top: 4px;
}
.boardbtn{
    padding-left: 5px;
    width: 45px;
    height: 36px;
    float: left;
}

.boardbtn-number{
    width: 40px;
    height: 36px;
    float: left;
    
}
.boardbtn-number span {
    color: black;
}
.boardbtn :hover{
    
    background-color: rgb(192, 234, 245);
    border-radius: 50%;
    z-index: 30;
}
.boardbtn-div :hover{
    
    background-color: rgb(192, 234, 245);
    border-radius: 50%;
}
.blank2{
    width: 70px;
    height: 36px;
}
.textform {
    min-width: 400px;
    min-height: 100px;
    word-break:break-all;
    white-space: nowrap;
}

.InputBoardBtn{
    display: block;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    margin-top: 15px;
    outline : none;
    cursor : pointer;
    background-color: rgb(22, 124, 241);
    min-width: 20%;
}
