

.BtnHome{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    outline : none;
    cursor : pointer;
    float: right;
}


.board{
    width: 600px;
    display: flex;
    position: relative;
    border: 1px black solid;
    border-collapse: collapse;
    top: 15px;
    word-wrap: break-word;
}

.boardLeft{
    width: 100px;
    min-height: 70px;
    float : left;
    border-right: 1px black solid;
}
.boardCenter{
    width: 500px;
    float: right;
}
.boardCenterHeadLeft{
    width: 500px;
    height: 25px;
    border-bottom: 1px black solid;
}

.boardCenterHeadLeft-moreview{
    width: 100px;
    float: right;
}

.boardCenterBody{
    width: 500px;
    height: 42px;
}

.boardCenterBottom {
    width: 500px;
    height: 25px;
    display: flex;
    border-top: 1px black solid;
}


.board svg {
    fill: rgba(29,161,242,1.00);
    transition: .2s;
    width: 27px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 50%;
    margin-top: 4px;
    
}
.boardbtn{
    width: 45px;
    height: 36px;
}

.boardbtn :hover{
    background-color: rgb(192, 234, 245);
    border-radius: 50%;
}
.blank2{
    width: 45px;
}
.textform {
    min-width: 400px;
    min-height: 100px;
    word-break:break-all;
    white-space: nowrap;
}

.InputBoardBtn{
    display: block;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    margin-top: 15px;
    outline : none;
    cursor : pointer;
    background-color: rgb(22, 124, 241);
    min-width: 20%;
}
