.ReadContents{
    width: 600px;
    height: auto;
}

.BtnHome{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    outline : none;
    cursor : pointer;
    float: right;
}


.board{
    width: 600px;
    position: relative;
    border: 1px black solid;
    border-collapse: collapse;
    word-wrap: break-word;
    
    display: flex;
}

.boardLeft{
    width: 100px;
    min-height: 99.32px;
    float : left;
    border-right: 1px black solid;
}
.boardCenter{
    width: 500px;
    min-height: 99.32px;
}
.boardCenterHeadtest{
    width: 500px;
    height: 45px;
    background-color: black;
}
.boardCenterHead-Left{
    width: 450px;
    height: 25px;
    float: left;
}

.boardCenterHead-Right{
    width: 50px;
    height: 25px;
    float: left;
}

.boardCenterHead-Right-btn{
    width: 30px;
    height: 30px;
}
.boardCenter2{
    width: 500px;
    height: 64px;
}
.boardCenterBody{
    width: 500px;
    height: 42px;
    background-color: red;
    border-top: 1px black solid;
}

.boardCenterBottom {
    width: 500px;
    height: 30px;
    display: flex;
    background-color: black;
}
.boardCenterBottom-Bot
{
    width: 500px;
    height: 10px;
    display: flex;
    border-top: 1px black solid;
}
.optionsvg{
    width: 20px;
    height: 20px;
}
   

.board svg {
    fill: rgba(29,161,242,1.00);
    transition: .2s;
    width: 27px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 50%;
    margin-top: 4px;
    
}
.boardbtn{
    width: 45px;
    height: 36px;
}

.boardbtn :hover{
    background-color: rgb(192, 234, 245);
    border-radius: 50%;
}
.blank2{
    width: 45px;
    height: 36px;
}
.textform {
    min-width: 400px;
    min-height: 100px;
    word-break:break-all;
    white-space: nowrap;
}

.InputBoardBtn{
    display: block;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.5rem 2rem;
    margin-top: 15px;
    outline : none;
    cursor : pointer;
    background-color: rgb(22, 124, 241);
    min-width: 20%;
}
