
.Main{
    position: ablsolute;
    left : 0;
    top :0;
    bottom: 0;
    right: 0;
    background: gray;
    display: flex;
    flex-direction :column;
    justify-content :center;
    align-items: center;
}
.Login{
}

.loginform{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
    padding: 2rem;
    width: 360px;
    background: white;
    border-radius: 2px;
}

.logintitle{
    display: block;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
.footer{
    display: block;
    margin-top : 2rem;
    text-align: right;
    float: right;
}
.footer a{
 color: grey;
 text-decoration: underline;
 
}

.loginbtn {
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight : bold;
    padding : 0.25rem 1rem;
    outline : none;
    cursor : pointer;
    text-align: center;
}
.loginbtn .btn1 {
    width: 400px;
    margin-top: 1rem;
    padding-top: 0.75rem;
    font-size: 1.125rem;
}
