.HomeCenter{
    width: 700px;
    min-height: 1000px;
    float: left;
    justify-content: center;
    display: flex;
    z-index: 200;
}

.HomeCenter-body {
    width: 600px;
    height: 700px;
}
.HomeCenter-body-title{
    width: 600px;
    height: 65px;
    border: 1px solid black;
    line-height: 150%;
    position: fixed;
    background-color: rgb(255, 255, 255);
}
